@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Dancing+Script:wght@400..700&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body 
{
    background-color:rgb(32, 113, 118);
    font-family: "Comic Relief", system-ui;
    color: black;
}



/* card-section */
.card-container
{
    /* border:2px solid red; */
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    /* grid-gap:5px; */
    /* grid-column-gap: 50px;
    grid-row-gap: 10px; */
    margin-left:-1%;
    padding: 1rem;   
}
.card
{
    /* border:2px solid red; */
    background-color: rgb(164, 204, 206);
    margin:4rem;   
}
.card:hover {
    background-color: rgb(63, 76, 95);
    color: azure;
    transform: scale(1.1);
    box-shadow: 0px 0px 20px white;
}



/* image section */
img
{
    /* border:2px solid red; */
    height:400px;
    width:400px;
    border-radius: 20%;
    margin-left: 10%;
    margin-top: 10%;
    box-shadow: 0px 0px 20px black;
}
img:hover
{
    margin: 1rem;
    margin-left: 14%;
    transition: 0.5s ease-out;
    box-shadow: 0px 0px 30px white;
}

#img1:hover
{
    content:url('./images/1_1.jpg');
}
#img2:hover
{
    content:url('./images/2_1.jpg');
}
#img3:hover
{
    content:url('./images/3_1.jpg');
}
#img4:hover
{
    content:url('./images/4_1.jpg');
}
#img5:hover
{
    content:url('./images/5_1.jpg');
}
#img6:hover
{
    content:url('./images/6_1.jpg');
}
#img7:hover
{
    content:url('./images/7_1.jpg');
}
#img8:hover
{
    content:url('./images/8_1.jpg');
}
#img9:hover
{
    content:url('./images/9_1.jpg');
}



/* Content section */
.card-content
{
    /* border:2px solid red; */
    margin:2rem;
    display: flex;
    font-size: 27px;
    font-weight: bold;
}

/* card title section */
.card-title-1
{
    /* border: 2px solid red; */
    font-size: 30px;
    padding:1rem;
    margin-top:-4%;
    margin-left:2%;
}
/* card price section */
.card-price-1
{
    /* border: 2px solid red; */
    margin-left:12%;
}

/* card title section */
.card-title
{
    /* border: 2px solid red; */
    margin-left:10%; 

}
/* card price section */
.card-price
{
    /* border: 2px solid red; */
    margin-left:30%;

}

